*, *::before, *::after {
    box-sizing: border-box;
  }

  
  body {
    margin: 0;
  }
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/bg.jpg");
  }
  
  .calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);

  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgba(222, 222, 222, 0.12);
    outline: none;
    background: rgba(222, 222, 222, 0.12);
    backdrop-filter: blur(50px);
    color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover,
  .calculator-grid > button:focus {
    background: rgba(222, 222, 222, 0.42);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background: rgba(222, 222, 222, 0.12);
    backdrop-filter: blur(100px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }

  .simple{
    color: white;
    text-align: center;
  }

  .simple input {
    margin: 0 10px 20px;
    padding: 12px;
    border: none;
    background: rgba(151, 150, 150, 0.12);
    backdrop-filter: blur(50px);
    color: rgba(255, 255, 255, .75);
    border: 1px solid  rgba(255, 255, 255, .75);
    border-radius: 99px;
  }

  ::placeholder {
     color: rgba(255, 255, 255, .75);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, .75);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, .75);
  }

  .simple button{
    width: 40px;
    height: 40px;
    padding: 10px;
    background: rgba(151, 150, 150, 0.12);
    backdrop-filter: blur(50px);
    border: 1px solid  rgba(255, 255, 255, .75);;
    color: rgba(255, 255, 255, .75);
    margin: 0 15px;
  }
  .simple button:hover{
    background: rgba(222, 222, 222, 0.42);
  }